@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
